<div class="card card-products">
  <div class="card-header">
    <h4 class="text-center">Sega</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="card col-md-4 col-xs-12 text-center" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="/assets/img/dinosaurs.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Dinosaur for Hire</h5>
              <p class="card-text">
                Juego Run and Gun protagonizado por 3 feroces dinosaurios que
                mandaran a todos los ninjas de vuelta a la tumba
              </p>
              <p class="card-text">
                <small class="text">Precio <b>$29.990</b></small>
              </p>
            </div>
          </div>
          <br />
        </div>
      </div>
      <div class="card col-md-4 col-xs-12 text-center" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="/assets/img/dinosaurs.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Dinosaur for Hire</h5>
              <p class="card-text">
                Juego Run and Gun protagonizado por 3 feroces dinosaurios que
                mandaran a todos los ninjas de vuelta a la tumba
              </p>
              <p class="card-text">
                <small class="text">Precio <b>$29.990</b></small>
              </p>
            </div>
          </div>
          <br />
        </div>
      </div>
      <div class="card col-md-4 col-xs-12 text-center" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="/assets/img/dinosaurs.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Dinosaur for Hire</h5>
              <p class="card-text">
                Juego Run and Gun protagonizado por 3 feroces dinosaurios que
                mandaran a todos los ninjas de vuelta a la tumba
              </p>
              <p class="card-text">
                <small class="text"
                  >Precio <b><b>$29.990</b></b></small
                >
              </p>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
