<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Para Compras Online</h5>

        <p>Hay despacho a todo Chile y tambien retiro en tienda</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Compra Presencial</h5>

        <p>Nos encontramos antendiendo en Calle Nueva Nuevecita N°09999</p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © {{ anio }} Copyright:
    <a class="text-dark" href="https://retrojuegos.cl/">Retrojuegos.cl</a>
  </div>
  <!-- Copyright -->
</footer>
