<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Retrojuegos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/producto']">Atari</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/producto']">Commodore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/producto']">Nintendo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/producto']">Sega</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/modificar']">Modificar</a>
        </li>
      </ul>
      <form (submit)="buscar()" class="d-flex">
        <input
          [(ngModel)]="Busqueda"
          name="Busqueda"
          class="form-control me-2"
          type="Busqueda"
          placeholder="Escriba lo que busca"
          aria-label="Search"
        />
        <button class="btn btn-outline-dark" type="submit">Buscar</button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-secondary"
            [routerLink]="['/carrito']"
            (click)="productoService.total()"
          >
            Carrito
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-warning"
            [routerLink]="['/register']"
          >
            Registrarse
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-success"
            [routerLink]="['/login']"
          >
            Iniciar Sesión
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
